<h1>STORE</h1>
<job-metadata-table [ownerForm]="tableForm.get('owner')" [middleEntityForm]="tableForm.get('middleEntity')"
  [salesRepForm]="tableForm.get('salesRep')" [storeList]="entityList" [salesReps]="salesRepList" (updateOwner)="onUpdateOwner($event)"
  (updateMiddleEntity)="onUpdateMiddleEntity($event)" (updateSalesRep)="onUpdateSalesRep($event)"></job-metadata-table>
<br>
<p><strong>Owner: </strong>{{owner | json}}</p>
<p><strong>Store: </strong>{{middleEntity | json}}</p>
<p><strong>Sales Rep: </strong>{{salesRep | json}}</p>
<br>
<h1>SUBCONTRACTOR</h1>
<job-metadata-table [ownerForm]="tableForm.get('owner')" [middleEntityForm]="tableForm.get('middleEntity')"
  [salesRepForm]="tableForm.get('salesRep')" [tableType]="'SUBCONTRACTOR'" [storeList]="entityList" [salesReps]="salesRepList"
  (updateOwner)="onUpdateOwner($event)" (updateMiddleEntity)="onUpdateMiddleEntity($event)" (updateSalesRep)="onUpdateSalesRep($event)"></job-metadata-table>
<br>
<br>
<h1>CONTRACT</h1>
<job-metadata-table [ownerForm]="tableForm.get('owner')" [salesRepForm]="tableForm.get('salesRep')" [salesReps]="salesRepList"
  (updateOwner)="onUpdateOwner($event)" (updateMiddleEntity)="onUpdateMiddleEntity($event)" (updateSalesRep)="onUpdateSalesRep($event)"></job-metadata-table>